<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="en">

<link rel="stylesheet" type='text/css' href="/css/bootstrap.css">
<link rel="stylesheet" type='text/css' href="/css/style.css">
<link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700'>
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cabin:400,500,600,700'>

<link rel="icon" href="/images/favicons/favicon.png">
<link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">